*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color: #EBF5F5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-image: url(https://wallpapercave.com/wp/wp3416319.jpg)
}            
table{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(67, 67, 67);
}
a{
    color: black;
    text-decoration-line: none;
    font-weight: 400;
}
a:active{
    color: white;
}
a:hover{
    color: white;
}
h1{
    font-family: Georgia;
    font-size: x-large;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;
    color: black;
    font-weight: 500;
}
h3{
    font-family: serif;
    font-size: large;
    text-align: center;
    font-weight: 400;
    padding-bottom: 60px;
    color: black;
    background-color: white;
}
p{
    padding-top: 3px;
    padding-bottom: 3px;
}
h4{
    padding-top: 3px;
    padding-bottom: 3px;
    margin-inline-start:5px ;
    margin-left: 200px;
    margin-right: 200px;
    font-weight: 400;
    line-height: normal;
}
hr{
    background-color: rgb(255, 255, 255);
    /* padding-top: 20px;
    padding-bottom: 20px; */
}
.container{
    display: flex;
    align-items: center;
    padding-left: 70px;
    padding-right: 50px;
}
.container img{
    width: 250px;
    height: 350px;
    margin-left: auto;
    margin-right: 30px;
    display: block;
}
.container p{
    margin-left: 30px;
    margin-right: 50px;
}
.container ul{
    margin-inline: 30px;  
}
footer{
    height: 40px;
    background: #EBF5F5;
}
button{
    color: black;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}